/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: Roboto Light;
}

.header {
  background-color: #ececea;
  padding: 30px 0 10px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navigation {
  display: flex;
  gap: 35px;
}
.header__navigation .menu__link_hovered {
  color: #131212;
  text-decoration: none;
  line-height: 23px;
  font-size: 20px;
  font-weight: 500;
  z-index: 2;
  /*.header__link_hovered:hover {*/
}
.header__navigation .menu__link_hovered:hover {
  color: rgb(249, 0, 0);
  background-color: rgb(44, 221, 224);
}
.header__burger {
  width: 48px;
  height: 48px;
  background-color: rgb(71, 219, 81);
  border-radius: 4px;
  border: 1px solid black;
  z-index: 2;
}
.header__burger-line {
  width: 22px;
  height: 3px;
  background-color: black;
}

.main {
  background-color: #ececea;
  padding-top: 119px;
}
.main__wrapper {
  position: relative;
  height: 100%;
}
.main__wrapper__man {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -20px;
}
.main__wrapper__title {
  position: relative;
  font-family: Arial Bold;
  font-weight: 900;
  font-size: clamp(100px, 10vw, 160px);
  line-height: 160px;
  color: #CFCFCD;
  padding-left: 22%;
  letter-spacing: 8px;
}
.main__wrapper__text {
  position: relative;
  max-width: 587px;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #000;
  margin-left: auto;
  z-index: 2;
  top: -85px;
  padding-bottom: 130px;
  letter-spacing: 2px;
}
.main__wrapper__text__link {
  display: block;
  text-decoration: none;
  padding: 11px 32px;
  color: #292929;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.section-0ne {
  background-color: #fff;
  padding-top: 72px;
}
.section-0ne__wrapper {
  position: relative;
  height: 100%;
  padding-bottom: 231px;
}
.section-0ne__title {
  position: absolute;
  left: 0;
  top: 97px;
  font-size: clamp(60px, 5vw, 80px);
  font-family: Arial Bold;
  font-weight: 900;
  line-height: 90px;
  z-index: 3;
}
.section-0ne__border {
  position: relative;
  padding: 335px 25px 46px 25px;
  margin-left: 160px;
  max-width: 562px;
  max-height: 670px;
  border: 6px solid #FF8340;
  z-index: 2;
}
.section-0ne__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #000;
  z-index: 1;
}
.section-0ne__link {
  display: block;
  padding: 11px 32px;
  color: #292929;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 1s;
}
.section-0ne__link:hover {
  color: #FF8340;
}
.section-0ne__woman {
  position: absolute;
  bottom: 0px;
  right: -105px;
}

.section-two {
  background-color: #292929;
  padding: 20px;
}
.section-two__wrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.section-two__title {
  position: relative;
  font-family: Arial Bold;
  font-weight: 900;
  font-size: clamp(50px, 10vw, 80px);
  line-height: 90px;
  color: #FFFFFF;
  padding-left: 5%;
  letter-spacing: 2px;
  text-align: center;
  z-index: 4;
}
.section-two__text {
  position: relative;
  /*max-width: 1200px;*/
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #FFFFFF;
  margin-left: auto;
  padding-bottom: 30px;
  letter-spacing: 2px;
  z-index: 4;
}

@font-face {
  font-family: "Roboto Light";
  src: url("Roboto-Light.eot");
  src: url("Roboto-Light.eot?#iefix") format("embedded-opentype"), url("Roboto-Light.woff") format("woff"), url("Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial Bold";
  src: url("Arial-BoldMT.eot");
  src: url("Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("Arial-BoldMT.woff") format("woff"), url("Arial-BoldMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */