@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial Bold";
  src: url("../fonts/Arial-BoldMT.eot");
  src: url("../fonts/Arial-BoldMT.eot") format("embedded-opentype"), url("../fonts/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial-BoldMT.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-------------основная программа*/
/*-------------base*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: Roboto Light;
}
/*--------------header*/
.header {
  background-color: #ececea;
  padding: 30px 0 10px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  gap: 35px;
}

.header__link_hovered {
  color: #131212;
  text-decoration: none;
  line-height: 23px;
  font-size: 20px;
  font-weight: 500;
  z-index: 2;
}

.header__link_hovered:hover {
  color: rgb(249, 0, 0);
  background-color: rgb(44, 221, 224);
}
/*-----------------------main*/
.main {
  background-color: #ececea;
  padding-top: 119px;
}

.main__container {
  position: relative;
  height: 100%;
}

.main__man {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -20px;
}

.main__title {
  position: relative;
  font-family: Arial Bold;
  font-weight: 900;
  font-size: clamp(100px, 10vw, 160px);
  line-height: 160px;
  color: #CFCFCD;
  padding-left: 22%;
  letter-spacing: 8px;
}

.main__text {
  position: relative;
  max-width: 587px;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #000;
  margin-left: auto;
  z-index: 2;
  top: -85px;
  padding-bottom: 130px;
  letter-spacing: 2px;
}

.main__link {
  display: block;
  text-decoration: none;
  padding: 11px 32px;
  color: #292929;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}/*# sourceMappingURL=style.css.map */