.header {
  background-color: #ececea;
  padding: 30px 0 10px 0;
}

.header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  gap: 64px;
}

.header__link {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  line-height: 23.44px;
  color: #292929;
}