.heager {
  padding-top: 30px;
  padding-bottom: 10px;
}

.header-contriner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  margin-left: 222px;
}

.navigation {
  display: flex;
  gap: 64px;
  margin-right: 260px;
}

.navigation_link {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  line-height: 23.44px;
  color: #292929;
}